/* ============================ Global ============================ */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* ============================ Header ============================ */
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.c-nav_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 5rem;
  position: relative;
  backdrop-filter: blur(20px);
  background-color: rgba(37, 37, 37, 0.36);

  transition: all 0.5s ease;
}

.c-header_logo_container {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.c-header_left {
  margin-right: 8rem;

  /* flex-grow: 1; */
  display: flex;
  justify-content: flex-end;

  flex-basis: 50%;
}

.c-header_right {
  margin-left: 8rem;

  /* flex-grow: 1; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 50%;
}

/* ============================ Nav ============================ */

.c-nav_ul_mainItems {
  display: flex;
}
.c-nav_ul_mainItems li {
  font-weight: bold;
}
.c-nav_ul_mainItems > li {
  /* color: black; */
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: white;
}

/* ============================ Footer ============================ */
