/* ============================ Global ============================ */
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* ============================ Header ============================ */
.c-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.c-nav_container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
  height: 5rem;
  position: relative;
  /* backdrop-filter: blur(20px); */
  /* background-color: rgba(37, 37, 37, 0.816); */

  transition: all 0.5s ease;
}
.c-nav_container_scrolled {
  background-color: rgba(37, 37, 37, 0.7);
  backdrop-filter: blur(20px);
}

.c-header_logo_container {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  position: absolute;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  text-align: center;
}

.c-header_left {
  margin-right: 8rem;

  /* flex-grow: 1; */
  display: flex;
  justify-content: flex-end;

  flex-basis: 50%;
}

.c-header_right {
  margin-left: 8rem;

  /* flex-grow: 1; */
  /* justify-content: space-between; */
  display: flex;

  align-items: center;
  flex-basis: 50%;
}

.c-header_right_function_container {
  /* mr-10 flex items-center gap-4 */
  margin-right: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* ============================ Nav ============================ */

.c-nav_ul_mainItems {
  display: flex;
}
.c-nav_ul_mainItems li {
  font-weight: bold;
}
.c-nav_ul_mainItems > li {
  /* color: black; */
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: white;
}

.c-mobileNav_container {
  width: 100%;
  background-color: rgb(218, 218, 218);
  padding: 1.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  position: fixed;
  top: 5rem;
  right: 0;
  bottom: 0;
  z-index: 50;

  transition: transform 0.6s cubic-bezier(0.75, 0, 0.175, 1);
}

.c-mobileNav_li_mainItem {
  font-weight: bold;
  border-bottom: 1px solid rgb(134, 134, 134);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.c-mobileNav_Atag_container {
  display: flex;
  justify-content: space-between;
}

/* ============================ Footer ============================ */
